{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Portifolio | Ernesto Alves</title>
    <link rel="stylesheet" href="{% static 'vendor/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>

<body>

    <nav class="top-bar">
        <ul class="nad">
            <li><a class="social-link" href="https://www.linkedin.com/in/ernesto-a-5233b222b/"
                    target="_blank">LinkedIn</a></li>
            <li><a class="social-link" href="https://github.com/Ernesto-Alves67" target="_blank">GitHub</a></li>
            <li><a class="social-link" href="https://www.instagram.com/_ultrasono_/" target="_blank">Instagram</a></li>
            <li><a class="social-link" href="https://www.facebook.com/ernesto.alves.467/" target="_blank">Facebook</a>
            </li>
        </ul>
    </nav>


    <!--<div class="btn">
        <span class="fas fa-bars"></span>
    </div>-->
    <nav class="sidebar">
        <img src="{% static 'media/foto.jpg' %}" alt="Minha Foto" class="profile-image">
        <ul>
            <li class="active"><a href="/">Sobre mim</a></li>
            <li><a href="edu">Educação</a></li>
            <li><a href="xp">Experiência</a></li>
            <li><a href="interesses">Interresses</a></li>
            <li><a href="skills">Skills</a></li>
            <li><a href="projetos">Projetos</a></li>
        </ul>
    </nav>
    <div class="content">
        <div class="header">Ernesto Alves dos Santos, 22 anos. </div>
        <p>Curiosidade é o meu ponto forte. Tenho agonia de não entender algo de fato.
            Gosto ver de ver aas coisa funcionando como deveriam. Por isso tento dar o meu melhor a
            cada dia. Todo dia é uma oportunidade de ser melhor.
        </p>
    </div>

    <div class="content">
        <div class="header2"> Futuro Cientista da Computação </div>
        <p class="bio">Atualmente cursando o 5º perído de Ciências da Computação pela Universidade Federal de Catalão.
            Estudando
            assiduamente
            todos os dias. Pretendo me formar até no primeiro semestre de 2025. Estou em busca do conhecimento
            nessesario para poder
            efetuar o adiantamento de algumas disciplinas com o intuito de tentar ser auto-didata de fato, assim como
            reduzir meu tempo de
            conclusão do curso.
        </p>
    </div>



</body>

</html>