{% extends 'base.html'%}
{% load static %}

{% block style %}
<style>
    * {
        margin: 0;
        padding: 0;
        user-select: none;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    .profile-image {
        max-width: 75%;
        height: auto;
        border-radius: 100%;
        margin-left: 49px;
    }


    .sidebar {
        position: fixed;
        width: 280px;
        height: 200%;
        left: -30px;
        background: #1b1b1b;
        margin-top: -35px;
    }

    .sidebar.show {
        left: 260px;
    }

    .sidebar .text {
        color: white;
        font-size: 25px;
        font-weight: 600;
        line-height: 65px;
        text-align: center;
        background: #1e1e1e;
        letter-spacing: 1px;
    }

    .sidebar ul {
        background: #1b1b1b;
        height: 100%;
        width: 100%;
        list-style: none;
    }

    .skills-conteudo {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        margin-top: 35px;
    }

    .skills-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .skill {
        margin-bottom: 10px;
    }

    .skill-title {
        font-weight: bold;
    }

    .skill-description {
        margin-top: 5px;
    }
</style>
{% endblock %}

{% block conteudo %}
<nav class="sidebar">
    <img src="{% static 'media/foto.jpg' %}" alt="Minha Foto" class="profile-image">
    <ul>
        <li><a href="/">Sobre mim</a></li>
        <li><a href="edu">Educação</a></li>
        <li><a href="xp">Experiência</a></li>
        <li><a href="interesses">Interresses</a></li>
        <li class="active"><a href="skills">Skills</a></li>
        <li><a href="projetos">Projetos</a></li>
    </ul>
</nav>


<div class="skills-conteudo">
    <h2 class="skills-title">Destaques</h2>
    <div class="skill">
        <h3 class="skill-title">JAVA</h3>
        <p class="skill-description">Conhecimento avançado em Java e boas práticas de desenvolvimento de software.</p>
    </div>
    <div class="skill">
        <h3 class="skill-title">C/C++</h3>
        <p class="skill-description">Experiência em resolução de problemas com as supracitadas linguagens, bem como
            gerenciamento de memoria. Sockets e servidores.
        </p>
    </div>
    <div class="skill">
        <h3 class="skill-title">PYTHON</h3>
        <p class="skill-description">Domínio do Python para a automatização de tarefas, exploração de dados e resolução
            de problemas complexos.
        </p>
    </div>

    <div class="skill">
        <h3 class="skill-title">POO, Algoritmos e Metodologias Ágeis</h3>
        <p class="skill-description"> Dominio do paradigma da programação orientada a objetos e na codificação de
            algoritmos para problemas complexos.<br>
            Conhecimento comprovado, mas não implementado, das diversar abordagens de construção de software que compõe
            as Metodologias Ágeis. Ansioso para de fato poder viver na prática o que é proposto nas mais diversas
            técnicas.
        </p>
    </div>

    <div class="skill">
        <h3 class="skill-title">PROATIVIDADE</h3>
        <p class="skill-description">Busco sempre estar ciente da situação. De modo a conseguir tomar as devidas
            atitudes
            diante determinados problemas. Gosto de ir atrás daquilo que me interessa. Ter a iniciativa para fazer é
            essencial para o
            fluxo das coisas.
        </p>
    </div>


    <!-- Adicione mais divs com a classe "skill" para listar suas outras habilidades -->
</div>
{% endblock %}