{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Portifolio | Ernesto Alves</title>
    <link rel="stylesheet" href="{% static 'vendor/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    {% block style %} {% endblock %}
</head>

<body>
  <nav class="top-bar">
    <ul class="nad">
        <li><a class="social-link" href="https://www.linkedin.com/in/ernesto-a-5233b222b/"
                target="_blank">LinkedIn</a></li>
        <li><a class="social-link" href="https://github.com/Ernesto-Alves67" target="_blank">GitHub</a></li>
        <li><a class="social-link" href="https://www.instagram.com/_ultrasono_/" target="_blank">Instagram</a></li>
        <li><a class="social-link" href="https://www.facebook.com/ernesto.alves.467/" target="_blank">Facebook</a>
        </li>
    </ul>
</nav>




  {% block conteudo %} {% endblock %}


</body>

</html>